{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{% block title %}Мой магазин{% endblock %}</title>
<link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<div id="header">
<a href="/" class="logo">Мой магазин</a>
</div>
<div id="subheader">
    {% if request.user.is_authenticated %}
				{{user.username}} | <a href="{% url 'logout' %}">Выйти</a>
				{% else %}
				<a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
				{% endif %}
<div class="cart">
    {% with total_items=cart|length %}
    {% if cart|length > 0 %}
    В корзине:
    <a href="{% url 'cart:cart_detail' %}">
        {{ total_items }} шт ,${{ cart.get_total_price }}
    </a>
    {% else %}
    Корзина пустая
    {% endif %}
    {% endwith %}
</div>
</div>
<div id="content">
{% block content %}{% endblock %}
</div>
<footer>
    <div class="info">
        <p>
            Number phone: 8(707)-669-69-42, 8(708)-325-29-74
        </p>
        <p>
            Email: zabolotnik2005@gmail.com, galyshev.04@gmail.com
        </p>
        <p>
            Address: проспект Абылай Хана 147, Алматы 050000
        </p>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46502.4986374958!2d76.87253155820312!3d43.242908700000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836ee839a7c0bb%3A0x68145d51584439ec!2sDaily%20Coffee!5e0!3m2!1sru!2skz!4v1676088852354!5m2!1sru!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</footer>
</body>
</html>